body {
    background-color: black;
    color: white;
}

#image-string {
    font-family: Consolas, 'Courier New', monospace;
}

.content {
    text-align: center;
}

.inblock {
    padding: 10px;
}

.block {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    height: 100%;
}

#image-origin {
    width:  100%;
    box-sizing: border-box;
    max-width: 200px;
}

.row {
    display: flex;
    width: max-content;
}

.col {
    flex: 1;
    border: 2px solid white;
}

.p5Canvas{
    /* display: none; */
}
button, input{
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 6px 16px;
    margin: 3px;
}
input:focus {
    border: 3px solid #555;
}
button:hover{
    border: 3px solid #555;
    color: #555;
    padding: 8px 18px;
}
.mauto:hover{
    margin: auto;
}
input[type="number"]{
    width: 50px;
}
p{
    max-width: 800px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
label{
    padding: 6px 10px;
    margin: 3px;
}
.zomme{
    display: flex;
    margin: auto;
    width: min-content;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    color: black;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    position: relative;
    background-color: white;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    padding: 15px;
    outline: 2px solid white;
    outline-offset: 5px;
    width: 350px; /* Could be more or less, depending on screen size */
  }
  
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: -30px;
    top: -50px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
@media only screen and (max-width: 500px) {
    .row {
        display: block;
    }
}
