body {
    background-color: black;
    color: white;
}

pre {
    font-family: Consolas, 'Courier New', monospace;
    font-size: 0.7vw;
}

.content {
    text-align: center;
}

.inblock {
    padding: 10px;
}

.block {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    height: 100%;
}

#image-origin {
    width:  100%;
    box-sizing: border-box;
    max-width: 200px;
}

.row {
    display: flex;
    width: max-content;
}

.col {
    flex: 1;
    border: 2px solid white;
}

.p5Canvas{
    display: none;
}
button, input{
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 6px 16px;
    margin: 3px;
}
input:focus {
    border: 3px solid #555;
}
button:hover{
    border: 3px solid #555;
    color: #555;
    padding: 8px 18px;
}
#copy-code:hover{
    margin: auto;
}
input[type="number"]{
    width: 50px;
}
p{
    max-width: 800px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* input[type="file"] {
     display: none; 
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
} */
@media only screen and (max-width: 500px) {
    .row {
        display: block;
    }
}